<div>
        <app-navbar></app-navbar>
      </div>
    
      
      <main class="row container-fluid">
        <div class="col-md-2 col-xs-12">
            <div class="tab">
        
                <button routerLink="dashboard">Dashboard</button>
                <button routerLink="" >Requirement Tracker</button>
                <button  routerLink="">Customers</button>
                <button routerLink="">Custermer Contact</button>
               
                <button routerLink="">View Submissions</button>
                <button routerLink="">Assigned  Requirements</button>
                <button routerLink="">Users</button>
                <button routerLink="">View Incentives</button>
                <button routerLink="generate">Generate Tracker</button>
                <button routerLink="onboard">On Bordered List</button>
               
              </div>
        </div>
        <div class="col-md-10  col-xs-12">
          <router-outlet></router-outlet>
        </div>

      </main>